.alert.alert-success.alert-dismissible.fade.in{role: "alert"}
  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %strong
    La confirmation de votre présence a été enregistrée avec succès :-)
