.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading
      Merci de confirmer votre présence avant le
      %strong 01/03/2015.
    .panel-body

      - if current_user.coming?
        .pull-left
          = link_to "Je viens :-)", "#", class: "btn btn-default", disabled: "disabled"
        .pull-right
          = link_to "Je ne viens pas :-(", update_rsvp_user_path(current_user), class: "btn btn-default", controller: :user, action: :update_rsvp
      - else
        .pull-left
          = link_to "Je viens :-)", update_rsvp_user_path(current_user), class:  "btn btn-default", controller: :user, action: :update_rsvp
        .pull-right
          = link_to "Je ne viens pas :-(", "#", class: "btn btn-default", disabled: "disabled"
