.col-md-8.col-md-offset-2
  .well
    %strong
      Nom:
    .pull-right
      = @user.name
    %br
    %strong
      Email:
    .pull-right
      = @user.email
    %br
    %strong
      Téléphone:
    .pull-right
      = @user.phone
