
.container
  .row
    .col-md-6
      .well
        #map{style: "width: 960; height: 500px;"}
    .col-md-2
      .well.well-sm
        %address
          %strong
            Hotel Les Bruyères
            %br
          78 route de la barrière
          %br
          6971 Tenneville
          =link_to "http://tinyurl.com/kz9fu9y", class: "btn btn-default", target: "_blank" do
            %span.glyphicon.glyphicon-road
      .well.well-sm
        %address
          %strong
            Hotel Les Bruyères
            %br
          78 route de la barrière
          %br
          6971 Tenneville
          =link_to "http://tinyurl.com/kz9fu9y", class: "btn btn-default", target: "_blank" do
            %span.glyphicon.glyphicon-road
