
.jumbotron
  %h2.text-center Bientôt notre grand "OUI"!
  = image_tag "manuetpaul.jpg", class: "img-circle center-block"
  %p.lead
    %br
    En 2008 c'est le coup de foudre, le
    %strong 18 avril 2015
    nous sautons le pas...
  %p.text-justify
    %small
      En attendant de fêter avec vous ce grand jour,
      vous trouverez ici des infos sur l'organisation de la journée,
      les possibilités de logement, la play-list de la soirée
      et autres détails qui feront que cette journée restera mémorable pour tous.
