.jumbotron
  Votre présence à notre mariage fera notre plus grande joie,
  mais nous savons que beaucoup d'entre vous désirent participer à nos projets futurs.
  Par cette liste, vous pourrez participer à notre voyage de noces qui se déroulera au Costa Rica du 22/04 au 03/05.
  Un compte est également ouvert à nos deux noms :
  %span.label.label-primary
    BE43 0359 1080 6601

- i = 0
- @gifts.each do |gift|
  - if i % 3 == 0
    .row
  - i = i + 1
  = render "gift", gift: gift
