.pull-right
  - if gift.available?
    = link_to "#"+gift.id.to_s, "data-toggle" => "modal", class: "btn btn-primary" do
      Offrir
    .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: gift.id}
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            %h4.modal-title.text-center
              Sélectionnez la quantité
            .modal-footer.center
              = form_for [gift, gift.transactions.new] do |f|
                = select_tag :quantity, options_for_select((1..gift.availability)), class: "form-control"
                = f.submit "Ajouter", class: "btn btn-primary"
  - else
    %span.has-tooltip.tooltip-danger{"data-toggle" => "tooltip", title: "Plus disponnible :-/", "data-placement" => "right"}
      .glyphicon.glyphicon-plus.red
