%table.table.table-striped.table-hover.table-responsive
  %thead.text-center
    %tr
      %th.text-center
        %span.glyphicon.glyphicon-euro
      %th.text-center
        Communication
      %th.text-center
        Infos
      - if unpaid
        %th.text-center
          Payer
        %th.text-center
          Supprimer

  %tbody
    - orders.each do |o|
      %tr
        %th.text-center
          =o.price
        %th.text-center
          =o.communication
        %th.text-center
          =link_to order_path(o, current_user), class: "btn" do
            %span.glyphicon.glyphicon-zoom-in
        - if unpaid
          %th.text-center
            = link_to order_pay_path(o), class: "btn" do
              %span.glyphicon.glyphicon-send
          %th.text-center
            = link_to order_path(o, current_user), method: :delete, class: "btn" do
              %span.glyphicon.glyphicon-remove
