%table.table.table-striped.table-hover
  %thead.text-center
    %tr
      %th.text-center
        %span.glyphicon.glyphicon-euro
      %th.text-center
        Communication
      %th.text-center
        Infos
      - if unpaid
        %th.text-center
          Payer

  %tbody
    - orders.each do |o|
      %tr
        %th.text-center
          =o.price
        %th.text-center
          =o.communication
        %th.text-center
          =link_to user_order_path(current_user, o) do
            %span.glyphicon.glyphicon-zoom-in
        - if unpaid
          %th.text-center
            = link_to order_pay_path(o) do
              %span.glyphicon.glyphicon-send
