.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading.text-center
      Virement à envoyer
    .panel-body.text-center
      %table.table.table-responsive
        %thead
          %tr
            %th.text-center
              Montant
            %th.text-center
              Communication
            %th.text-center
              Numéro de compte
        %tbody
          %tr
            %td.text-center
              = @order.price
              €
            %td.text-center
              = @order.communication
            %td.text-center
              BE43 0359 1080 6601
          %tr
            %td
            %td
            %td

  .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %h4.text-center Marquer la commande comme payée
    %ul
      %li.glyphicon.glyphicon-info-sign
        %span
          Insérer la communication dans le champ
          %strong Communication LIBRE
          du virement.
      %li.glyphicon.glyphicon-info-sign
        %span
          Une fois le virement effectué, ne pas oublier pas de
          %strong marquer
          la commande comme payée.
    %br
    = link_to order_paid_path(@order), method: :post, class: "btn btn-default btn-lg btn-block" do
      .pull-left
        %span.glyphicon.glyphicon-ok
      Marquer la commande comme payée
