.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading.text-center
      Virement à envoyer
    .panel-body.text-center
      .row
        .col-md-2
          Montant
        .col-md-4
          Communication
        .col-md-6
          Numéro de compte
      .row
        .col-md-2
          = @order.price
          %span.glyphicon.glyphicon-euro
        .col-md-4
          = @order.communication
        .col-md-6
          xxxxxx
  .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %h4.text-center Marquer la commande comme payée
    %ul
      %li.glyphicon.glyphicon-info-sign
        %span
          Insérer la communication dans le champ "Communication LIBRE" du virement.
      %li.glyphicon.glyphicon-info-sign
        %span
          Une fois le virement effectué, ne pas oublier pas de marquer la commande comme payée.
    %br
    = link_to order_paid_path(@order), method: :post, class: "btn btn-default btn-lg btn-block" do
      .pull-left
        %span.glyphicon.glyphicon-ok
      Marquer la commande comme payée
