// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #60c0a8;
  //background-image :url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
